html, body{
    padding: 0;
    margin: 0;
}

body{
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    background-image: url("../img/Back.png");
    background-size: cover;
}

body p{
    font-family: Verdana;
    line-height: 21px;
    color: white;
}

.container{
    margin: 0 auto;
    width: 1366px;
    height: 768px;
}

.header{
    margin: 0 auto 45px;
    width: 1366px;
}

.header-left {
    display: inline-block;
    margin-left: 156px;
    margin-top: 49px;
}

.header-left-logo{
    display: inline-block;
    width: 46px;
    height: 44px;
    margin-right: 15px;
}

.header-left-text {
    font-variant: all-petite-caps;
    font-weight: 700;
    text-align: left;
    display: inline-block;
    margin: 0px;
}

.header-left-text p{
    margin: 0;
}

p.left-text-up{
    font-size: 29px;
}

p.left-text-down{
    font-size: 18px;
}

.header-right {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    margin-right: 156px;
    margin-top: 49px;
    float: right;
}

.header-right p{
    margin: 0;
}

main{
    margin-left: auto;
    margin-right: auto;
    width: 1366px;
}
.row{
    display: flex;
    justify-content: center;
}

main p{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

main a{
    text-decoration: none;
}

.flex-center a:hover p{
    color: #f26522;
}

.img{
    margin-bottom: 20px;
}

.img-div{
    width: 312px;
    height: 205px;
    display: inline-block;
}
.main-first{
    margin-right: 65px;
    margin-bottom: 93px;
}

.back-menu{
    width: 312px;
    height: 63px;
    background-color: #f26522;
    display: none;
    position: absolute;
    margin-top: -108px;
    margin-left: 1px;
}
.img-div:hover div.back-menu{
    display: block;
}

.back-menu-left-text {
    display: inline-block;
    float: left;

}
.back-menu-left-text p{
    font-family: Verdana;
    color: #ffffff;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-left: 21px;
}

.back-menu-left-text-up{
    font-size: 10px;
    margin-top: 16px;
}

.back-menu-left-text-down{
    font-size: 20px;
}

.back-menu-right-text{
    display: inline-block;
    float: left;
    margin-left: 110px;
    margin-top: 30px;
}

.back-menu-img{
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 30px;
}

.back-menu-right-text p{
    font-family: Verdana;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-bottom: 17px;
}

.main-third{
    margin-left: 64px;
}

.last{
    margin-bottom: 85px;
}

footer{
    margin: 4px auto 20px;
    width: 1366px;
    flex: 0 0 auto;
}
.footer p{
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
